<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="spot_control">
    <xacro:property name="robot_yaml" value="$(find ros2_descriptions)/config/spot.yaml"/>
    <xacro:property name="config" value="${xacro.load_yaml(robot_yaml)}"/>

    <gazebo>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ros2_descriptions)/config/controllers.yaml</parameters>
      </plugin>
    </gazebo>

    <ros2_control name="SpotBostonDynamics" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="fl_hipx">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['fl_hipx']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="fl_hipy">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['fl_hipy']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="fl_knee">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['fl_knee']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="fr_hipx">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['fr_hipx']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="fr_hipy">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['fr_hipy']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="fr_knee">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['fr_knee']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="hl_hipx">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['hl_hipx']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="hl_hipy">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['hl_hipy']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="hl_knee">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['hl_knee']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="hr_hipx">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['hr_hipx']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="hr_hipy">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['hr_hipy']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

      <joint name="hr_knee">
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">${config['initial']['hr_knee']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

  <!-- IMU sensor -->
  <gazebo reference="spot_root">
    <sensor name="imu_sensor" type="imu">
      <gz_frame_id>spot_root</gz_frame_id>
      <topic>spot_trunk/imu</topic>
      <update_rate>250</update_rate>
      <always_on>1</always_on>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0.0003394</stddev>
              <dynamic_bias_stddev>3.8785e-05</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>1000</dynamic_bias_correlation_time>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0.0003394</stddev>
              <dynamic_bias_stddev>3.8785e-05</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>1000</dynamic_bias_correlation_time>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0.0003394</stddev>
              <dynamic_bias_stddev>3.8785e-05</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>1000</dynamic_bias_correlation_time>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0.004</stddev>
              <dynamic_bias_stddev>0.006</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>300</dynamic_bias_correlation_time>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0.004</stddev>
              <dynamic_bias_stddev>0.006</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>300</dynamic_bias_correlation_time>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0</mean>
              <stddev>0.004</stddev>
              <dynamic_bias_stddev>0.006</dynamic_bias_stddev>
              <dynamic_bias_correlation_time>300</dynamic_bias_correlation_time>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
    </sensor>
  </gazebo>

  </xacro:macro>

</robot>
