<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="spot">

  <!-- With Gazebo Harmonic (v8.10), we suppress the world link and joint
       in order to allow the robot trunk 6 DoF. -->

  <xacro:include filename="$(find ros2_descriptions)/description/urdf/spot.description.urdf.xacro" />
  <xacro:include filename="$(find ros2_descriptions)/description/ros2_control/spot.ros2_control.xacro" />

  <xacro:spot_control/>
</robot>
