<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="Bravo7">

  <material name="bblack">
    <color rgba="0.3 0.3 0.3 1"/>
  </material>

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1019 A.stl"/>
      </geometry>
      <material name="bblack"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.0625 0.1112 0.088"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.03625 0 0.044"/>
    </collision>
    <collision>
      <geometry>
        <box size="0.050 0.080 0.060"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.030 -0.04556 0.03"/>
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.046" length="0.0851"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0675 0 0.04255"/>
    </collision>

    <inertial>
      <mass value="1.2000"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia
        ixx="0.00443333156" ixy="0.0" ixz="0.0"
        iyy="0.00443333156" iyz="0.0"
        izz="0.0072"/>
    </inertial>
  </link>

  <joint name="g_joint" type="continuous">
    <parent link="base_link"/>
    <child link="1013_base_link"/>
    <origin xyz="0.0665 0 0.0858" rpy="0 0 3.14159265359"/>
    <axis xyz="0 0 -1"/>
    <limit effort="110.0" velocity="0.7854"/>
    <dynamics damping="0.0" friction="0.09"/>
  </joint>

  <link name="1013_base_link">
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1013 A.stl"/>
      </geometry>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <material name="bblack"/>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.046" length="0.0667"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.03335"/>
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.046" length="0.0738"/>
      </geometry>
      <origin rpy="1.57079632679 0 0 " xyz="0.046 0.0149 0.0667"/>
    </collision>

    <inertial>
      <mass value="2.3930"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.28"/>
      <inertia
        ixx="0.13388583541666665" ixy="0.0" ixz="0.0"
        iyy="0.13388583541666665" iyz="0.0"
        izz="0.0151074"/>
    </inertial>
  </link>

  <joint name="f_joint" type="revolute">
    <parent link="1013_base_link"/>
    <child link="1013_joint_link"/>
    <origin xyz="0.046 0 0.0667" rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
    <limit effort="110.0" velocity="0.7854" lower="0.0" upper="3.2"/>
    <dynamics damping="0.0" friction="0.09"/>
  </joint>

  <link name="1013_joint_link">
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1013 B.stl"/>
      </geometry>
      <origin rpy="0 0 3.14159265359" xyz="0 0 0"/>
      <material name="bblack"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1030.stl"/>
      </geometry>
      <origin xyz="0.046 0 -0.05334" rpy="3.14159265359 0 3.14159265359"/>
      <material name="bblack"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1026 A.stl"/>
      </geometry>
      <origin xyz="0.046 0 -0.23534" rpy="3.14159265359 0 3.14159265359"/>
      <material name="bblack"/>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.046" length="0.0228"/>
      </geometry>
      <origin rpy="1.57079632679 0 0 " xyz="0 -0.0334 0"/>
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.046" length="0.05094"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.046 0 -0.02547"/>
    </collision>

    <inertial>
      <mass value="4.00"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.25"/>
      <inertia
        ixx="0.0603515624995" ixy="0.0" ixz="0.0"
        iyy="0.0603515624995" iyz="0.0"
        izz="0.0076"/>
    </inertial>
  </link>

  <joint name="e_joint" type="revolute">
    <parent link="1013_joint_link"/>
    <child link="1026_0_joint_link"/>
    <origin xyz="0.0052 0 -0.29434" rpy="3.14159265359 0 3.14159265359"/>
    <axis xyz="0 -1 0"/>
    <limit effort="110.0" velocity="0.7854" lower="0.0" upper="3.2"/>
    <dynamics damping="0.0" friction="0.08"/>
  </joint>

  <link name="1026_0_joint_link">
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1026 B.stl"/>
      </geometry>
      <material name="bblack"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1026 C.stl"/>
      </geometry>
      <origin xyz="0.0408 0 -0.0956" rpy="3.14159265359 0 0"/>
      <material name="bblack"/>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.0408" length="0.02335"/>
      </geometry>
      <origin xyz="0 0.027275 0" rpy="1.57079632679 0 0"/>
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.0408" length="0.0946"/>
      </geometry>
      <origin xyz="0.0408 0 -0.0473" rpy="0 0 0"/>
    </collision>

    <inertial>
      <mass value="1.000"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.25"/>
      <inertia
        ixx="0.015216803515624995" ixy="0.0" ixz="0.0"
        iyy="0.015216803515624995" iyz="0.0"
        izz="0.002095"/>
    </inertial>
  </link>

  <joint name="d_joint" type="continuous">
    <parent link="1026_0_joint_link"/>
    <child link="1023_0_base_link"/>
    <origin xyz="0.0408 0 -0.0956" rpy="3.14159265359 0 0"/>
    <axis xyz="0 0 -1"/>
    <limit effort="110.0" velocity="0.7854"/>
    <dynamics damping="0.0" friction="0.07"/>
  </joint>

  <link name="1023_0_base_link">
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1023 A.stl"/>
      </geometry>
      <origin xyz="0 0 0.0054" rpy="0 0 3.14159265359"/>
      <material name="bblack"/>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.0408" length="0.059"/>
      </geometry>
      <origin xyz="0 0 0.0295" rpy="0 0 0"/>
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.0408" length="0.0599"/>
      </geometry>
      <origin xyz="0.0408 -0.01435 0.059" rpy="1.57079632679 0 0"/>
    </collision>

    <inertial>
      <mass value="0.18790"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia
        ixx="8.062475833333332e-05" ixy="0.0" ixz="0.0"
        iyy="8.062475833333332e-05" iyz="0.0"
        izz="0.0001321171875"/>
    </inertial>
  </link>

  <joint name="c_joint" type="revolute">
    <parent link="1023_0_base_link"/>
    <child link="1023_0_joint_link"/>
    <origin xyz="-0.0408 0 0.0644" rpy="0 0 3.14159265359"/>
    <axis xyz="0 -1 0"/>
    <limit effort="110.0" velocity="0.7854" lower="0.0" upper="3.2"/>
    <dynamics damping="0.0" friction="0.07"/>
  </joint>

  <link name="1023_0_joint_link">
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1023 B.stl"/>
      </geometry>
      <material name="bblack"/>
    </visual>
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1023 C.stl"/>
      </geometry>
      <origin xyz="0.0408 0 -0.0956" rpy="3.14159265359 0 3.14159265359"/>
      <material name="bblack"/>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="0.0408" length="0.02335"/>
      </geometry>
      <origin xyz="0 0.027275 0" rpy="1.57079632679 0 0"/>
    </collision>
    <collision>
      <geometry>
        <cylinder radius="0.0408" length="0.0946"/>
      </geometry>
      <origin xyz="0.0408 0 -0.0473" rpy="0 0 0"/>
    </collision>

    <inertial>
      <mass value="0.18790"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia
        ixx="8.062475833333332e-05" ixy="0.0" ixz="0.0"
        iyy="8.062475833333332e-05" iyz="0.0"
        izz="0.0001321171875"/>
    </inertial>
  </link>

  <joint name="b_joint" type="continuous">
    <parent link="1023_0_joint_link"/>
    <child link="1038_base_link"/>
    <origin xyz="0.0408 0 -0.0956" rpy="3.14159265359 0 3.14159265359"/>
    <axis xyz="0 0 -1"/>
    <limit effort="110.0" velocity="0.7854"/>
    <dynamics damping="0.0" friction="0.07"/>
  </joint>

  <link name="1038_base_link">
    <visual>
      <geometry>
        <mesh filename="package://ros2_descriptions/description/meshes/bravo7/1038.stl"/>
      </geometry>
      <origin xyz="0 0 0.0054" rpy="0 0 0"/>
      <material name="bblack"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.0408" length="0.12535"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.18790"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <inertia
        ixx="8.062475833333332e-05" ixy="0.0" ixz="0.0"
        iyy="8.062475833333332e-05" iyz="0.0"
        izz="0.0001321171875"/>
    </inertial>
  </link>

  <joint name="1038_end_joint" type="fixed">
    <parent link="1038_base_link"/>
    <child link="jaws_base_link"/>
    <origin xyz="0 0 0.13075" rpy="0 -1.57079632679 0"/>
  </joint>

  <link name="jaws_base_link"/>
</robot>
